
:root {
  --white: white;
  --night-background-green: #04302f;
  --day-background-green: #58b6f4;
  --blue: #1da0f7;
  --morphism-background: "135 deg, rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0)";
  --morphism-shadow: rgba(154, 154, 162, 0.2) 0px -7px 29px 0px;
  --morphism-filter: blur(30px);
  --box-shadow: rgba(37, 37, 41, 0.2) 0px -7px 29px 0px;
  --border-radius: 10px;
  --border-bottom: #a5a0a0;
}  

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--white);
  text-align: center;
  word-spacing: .3em;
}

.loading-image-wrapper {
  display: block;
  width: 100%;
}

.loading-image {
  object-fit: contain;
  width: 100%;
}

@media only screen and (min-width: 375px) {
  .body-night-background {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--night-background-green);
}

.body-day-background {
  background-color: var(--day-background-green);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
}

.night-background {
  background: url("https://cdn.pixabay.com/photo/2017/08/10/04/39/stars-2618250__480.jpg") no-repeat center center fixed; 
  background-size: cover;
  box-shadow: var(--box-shadow);
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.day-background {
  background: url("https://cdn.pixabay.com/photo/2015/08/25/01/43/sky-906033__480.jpg") no-repeat center center fixed; 
  background-size: cover;
  box-shadow: var(--box-shadow);
  padding-bottom: 10%;
}

.current-temperature-content-wrapper {
  padding: 20% 0 20% 10%;
  display: grid;
  row-gap: 10px;
  text-align: left;
  grid-template-areas: 
  "current-temperature-wrapper image";
  grid-template-columns: .6fr 1fr;
  align-items: center;
  justify-items: center;
}

.current-temperature-wrapper {
  grid-area: current-temperature-wrapper;
  justify-self: center;
  align-self: center;
}

.current-tempCelcius {
  font-size: 60px;
  font-weight: bold;
}

.current-feels-like {
  font-size: 12px;
  padding-top: 10%;
}

.current-weather-description {
  font-weight: bold; 
  padding-top: 5%;
}

.current-weather-icon-wrapper {
  grid-area: image;
  width: 100%;
}

.current-weather-icon {
width: 100%;
display: block;
}

.current-weather-content-wrapper {
  background: var(--morphism-background);
  box-shadow: var(--morphism-shadow);
  backdrop-filter: var(--morphism-filter);
  border-radius: var(--border-radius);
  margin: 0 10px;
}

.current-location-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5% 5% 5% 0;
  margin: 5% 10% 5% 5%;
  border-bottom: .5px solid var(--border-bottom);
}

.current-location-icon {
  width: 16px;
}

.current-location-placeName {
  font-weight: bold;
  font-size: 20px;
}

.current-location-date {
  font-weight: bold;
}

.current-stats-content {
  display: grid;
  grid-template-areas: 
  "rain humidity uv";
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0;
  font-size: 12px;
  justify-items: start;
  padding: 0 0 10% 5%;
}

.current-stats-chance-of-rain-wrapper {
  grid-area: rain;
  text-align: center; 
}


.current-stats-humidity-wrapper {
  grid-area: humidity;
}

.current-stats-uv-wrapper {
  grid-area: uv;
}

.current-stats-title {
  font-weight: bold;
}

.astro-content-wrapper {
  background: var(--morphism-background);
  box-shadow: var(--morphism-shadow);
  backdrop-filter: var(--morphism-filter);
  border-radius: var(--border-radius);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 10% 5% 5% 5%;
  margin: 10px;
}

.astro-title {
  font-weight: bold;
}

.astro-image {
  width: 60px;
}

.astro-details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5% 5% 0;
}

.astro-details-wrapper-border {
  border-bottom: .5px solid var(--border-bottom);
}

.astro-moon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  border-radius: var(--border-radius);
}

.astro-subtitle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 5px;
}

.astro-details {
  text-align: left;
}

.weather-forecast-content {
  background: var(--morphism-background);
  box-shadow: var(--morphism-shadow);
  backdrop-filter: var(--morphism-filter);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 7% 7% 10% 7%;
  margin: 0 10px;
}

.weather-forecast-title {
  font-weight: bold;
  text-align: left;
  padding: 5% 0 8% 0;
}

.weather-forecast-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.weather-days-icon {
  width: 60px;
}

.weather-days-border-bottom {
  border-bottom: .5px solid #a5a0a0;
}

.location-finder-wrapper {
  background: var(--morphism-background);
  box-shadow: var(--morphism-shadow);
  backdrop-filter: var(--morphism-filter);
  border-radius: var(--border-radius);
  margin: 20px 10px;
  padding: 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.location-finder-form {
  display: grid;
  grid-template-columns: 1.1fr .4fr;
  align-items: center;
  padding-right: 5%;
  column-gap: 10px;
}

.search-place-label {
  display: block;
  padding: 5% 0 3% 0;
}

.form-control-input {
  border-radius: 5px;
  width: 100%;
  height: 60%;
  border: none;
  margin-top: 0;
  padding: 5px 0;
}

.location-finder-btn-wrapper {
  padding-right: 5%;
  align-self: end;
}

.location-finder-form-btn {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 8% 18%;
  font-weight: bold;
  border-radius: 5px;
}

.location-finder-form-btn:hover {
  background-color: var(--white);
  color: var(--blue);
}

.location-finder-add-btn {
  width: 67%;
  margin: 10px 0;
  padding: 5px 0;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
}

.location-component-wrapper {
  border-radius: 10px;
  border: .5px solid #a5a0a0;
  display: grid;
  grid-template-areas:
  "location location-current-icon" 
  "location-current-info location-current-info"
  "button button";
  grid-template-columns: 1fr .5fr;
  row-gap: 10px;
  padding: 5%;
}

.location-time {
  grid-area: location;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
}

.location-current-icon {
  grid-area: location-current-icon;
  justify-self: end;
  align-self: center;
}

.location-current-info {
  grid-area: location-current-info;
  display: grid;
  grid-template-areas: 
  "location-temp-low location-current-text"
  "location-temp-high location-current-text";
  grid-template-columns: 1fr 1fr;
  padding-right: 10px;
}

.location-temp {
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}

.location-span {
  font-weight: bold;
}

.location-current-text {
  grid-area: location-current-text;
  justify-self: end;
  padding-bottom: 10px;
}

.location-temp-high {
  grid-area: location-temp-high;
}

.location-temp-low {
  grid-area: location-temp-low;
}

.location-finder-remove-btn-wrapper {
  grid-area: button;
  width: 100%;
  justify-self: center;
  padding: 0;
}

.location-finder-remove-btn {
  grid-area: button;
  width: 100%;
  padding: 5px;
  background-color: var(--blue);
  border: none;
  color: var(--white);
  font-weight: bold;
  border-radius: 5px;
}
